<div
  class="d-flex align-items-center justify-content-center"
  style="max-height: 30vh"
>
  <div class="px-1">
    <img
      src="/images/header.png"
      class="img-fluid border rounded-pill shadow-lg mb-2"
      alt="Header Image"
      width="700"
      height="500"
      loading="lazy"
    />
  </div>
</div>

<h1 class="display-5 text-center fw-bold text-body-emphasis">
  <span class="text-danger"><%= job.position %></span> opportunity in
  <span class="text-info"><%= job.location %></span> at
  <span class="text-success"><%= job.company %></span>
</h1>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div
      class="card-header py-1 d-flex justify-content-between align-items-center"
    >
      <span
        class="badge d-flex align-items-center p-2 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill w-50"
      >
        Actively hiring
        <i class="fas fa-chart-line ms-2 fs-5"></i>
      </span>
      <% if (locals.userEmail) { %>
        <span>
          <a href="/edit-job/<%= job.id %>" class="text-reset text-decoration-none">
            <i class="fas fa-pen-to-square text-info edit-icon"></i>
          </a>
          <button
            class="btn btn-link p-0 border-0"
            onclick="deleteJob('<%= job.id %>')"
          >
            <i class="fas fa-trash-can text-danger ms-2 delete-icon"></i>
          </button>
        </span>
      <% } %>

    </div>
    <div class="card-body">
      <h1 class="card-title text-warning-emphasis"><%= job.company %></h1>
      <h2 class="text-body-secondary fs-5">
        <%= job.category %>
        <span class="text-success-emphasis"><%= job.position %></span>
      </h2>
      <div class="d-flex">
        <i class="fas fa-compass"></i>
        <h3 class="fs-5 text-secondary"><%= job.location %></h3>
      </div>
      <div class="d-flex">
        &nbsp;
        <i class="fas fa-dollar-sign fs-4"></i>
        <h3 class="fs-5 text-secondary">&nbsp;<%= job.salary %>/pa</h3>
      </div>
      <div class="d-flex">
        <i class="fas fa-hourglass-end fs-4"></i>
        <h3 class="fs-5 text-secondary">
          <span class="fw-bold">Apply By: </span><%= job.applyBy %>
        </h3>
      </div>

      <div class="d-flex">
        <i class="fas fa-chair fs-4"></i>
        <h3 class="fs-5 text-secondary">
          <span class="fw-bold">Number of openings: </span><%= job.openings %>
        </h3>
      </div>
      <div class="d-flex">
        <i class="fas fa-users fs-4"></i>
        <% if (locals.userEmail) { %>
          <a href="/applicants/<%= job.id %>" class="text-reset text-decoration-none">
            <h3 class="fs-5 text-danger">
              <span id="total-applicants" class="fw-bold">Applicants: </span><%= job.applicants %>
            </h3>
          </a>
          <% } else { %>
            <h3 class="fs-5 text-danger">
              <span id="total-applicants" class="fw-bold">Applicants: </span><%= job.applicants %>
            </h3>
        <% } %>


      </div>
      <div>
        <p class="lead mb-4 text-secondary">
          <span class="fw-bold">Description:</span>
          <%= job.description %>
        </p>
      </div>
      <ul class="list-unstyled mt-3 mb-4 d-flex flex-wrap">
        <% job.skills.forEach(skill => { %>
        <li
          class="text-success-emphasis px-2 py-1 border border-success mb-1 me-1 rounded-pill"
        >
          <%= skill %>
        </li>
        <% }) %>
      </ul>

      <a
        href="#"
        class="btn btn-lg btn-outline-success rounded-pill"
        data-bs-toggle="modal"
        data-bs-target="#applyModal"
      >
        Apply Now
      </a>

      <!-- Modal -->
<div
class="modal fade"
id="applyModal"
tabindex="-1"
aria-labelledby="applyModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="applyModalLabel">Apply for <%= job.position %></h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form action="/apply" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="jobId" value="<%= job.id %>" /> <!-- Include jobId in the form -->
        <div class="mb-3">
          <label for="applicant-name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="applicant-name"
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="applicant-email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="applicant-email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="applicant-phone" class="form-label">Mobile Number</label>
          <input
            type="text"
            class="form-control"
            id="applicant-phone"
            name="mobile"
            required
          />
        </div>
        <div class="mb-3">
          <label for="applicant-resume" class="form-label">Resume</label>
          <input
            type="file"
            class="form-control"
            id="applicant-resume"
            name="resume"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit Application</button>
      </form>
    </div>
  </div>
</div>
</div>
